<!-- <form [formGroup]="signUpForm">
  Display format : <input type="text" (keypress)="_displayFomratkeyPress($event)" formControlName="displayformat">

  <br>
  Starting Number :
  <input type="number" formControlName="startingnumber">

  <br>
  Quantity :
  <input type="number" formControlName="quantity">

  <br>
  Increment By :
  <input type="number" formControlName="incrementby">

  <br>
  <button (click)="onClickOfSequentialGenerateVouchers()">
    Generate
  </button>

</form> -->

<!-- 
<form [formGroup]="signUpForm">
  Display format : <input type="text" (keypress)="_displayFomratkeyPress($event)" formControlName="displayformat">

  <br>
  Quantity :
  <input type="number" formControlName="quantity">

  <br>
  Voucher Number :
  <input type="text" (keypress)="_voucherNumberPress($event)"  formControlName="vouchernumber">

  <br>
  <button (click)="onClickOfNonSequentialGenerateVouchers()">
    Generate
  </button>

</form> -->

<form [formGroup]="signUpForm">

  Voucher Number :
  <input type="text" (keypress)="_voucherNumberPress($event)"  formControlName="vouchernumber">

  <br>
  <button (click)="onClickOfNonSequentialGenerateVouchers()">
    Generate
  </button>

</form>